@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    margin: auto;
    height: 60vh;
    width: 40vw;
    border-radius: 1em;
    overflow: hidden;
    flex-direction: row;
    background: white;
    text-align: left;
    font-size: 11px;position: absolute;top:0;bottom: 0;left: 0;right: 0;
}

.content {
    width: 50%;
}

p {
    font-size: 14px;
}

#perfume-img {
    width: 50%;
    background: url("./images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div > .heading {
    margin: 7% 10%;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .5em
}

p, .heading, .value-cross {
    font-family: 'Montserrat', sans-serif;
    margin: 0.6em auto;
    color: hsl(228, 12%, 48%);
}
    
.heading, .title, p, .value, #btn {
    margin-left: 10%;
}

.title, .value {
    font-family: 'Fraunces', serif;
}

.title {
    font-weight: 500;
    color: hsl(212, 21%, 14%);
    font-size: 2.5em;    
}

.value {
    display: flex;
    font-size: 3em;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}

.value-cross {
    font-weight: 100;
    margin: auto 1em;
    align-self: center;
    font-size: 14px;
    text-decoration: line-through;
}

#btn {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 1em 4em;
    border-radius: 5px;
    font-weight: bold;
    background-color: hsl(158, 36%, 37%);
}

#btn:hover {
    background-color: hsla(158, 36%, 37%, .7);
}

@media screen and (max-width: 470px){
    .container {
        flex-direction: column;
        width: 90%;
        height: fit-content;
    }

    #perfume-img {
        min-width: 100%;
        min-height: 250px;
        background-image: url("./images/image-product-mobile.jpg");
    }

    .content {
        width: 100%;
        padding: 1.5em;
    }

    p, .heading, .value-cross, .title {
        margin: 10px;
    }


    .attribution {
        visibility: hidden;
    }

}



















/*
bottom highlight
*/
.attribution { font-family: 'Montserrat', sans-serif;
    font-size: 18px; text-align: center; position: absolute; bottom: 10px; left: 0; right: 0; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none; background-color: hsl(228, 45%, 44%, 0.2); }
.attribution a:hover { color: whitesmoke; background-color: hsl(228, 45%, 44%); }
